<%- include('includes/header.ejs') %>

  <form method="get" style="text-align: right;">
    <input name="search" value="<%= req.query.search %>" style="display: inline; width: 200px;"> 
    
    <input type="submit" value="Найти" style="display: inline;">
  </form>

  <h1>Курсы основных валют</h1>
  <% for (let t of valute) { %>
  <article class="card">
    <header>  
      <h2><i><a href=<%= t.numCode %>> <%= t.name %> (<%= t.charCode %>)</i></h2>
    </header>
    <footer>
      <p>Цена за 1: <%= t.vunitRate %></p>
      <div style="text-align: right;">
        <% if(!t.done) { %>
          <form action="/<%= t.numCode %>?_method=PUT" method="post" style="display: inline;">
            <input type="submit" class="success" value="В избранное">
          </form> 
        <% } else { %>
          <form action="/<%= t.numCode %>?_method=PUT" method="post" style="display: inline;">
            <input type="submit" class="warning" value="Из избранного">
          </form> 
        <% } %>
      </div>
    </footer>
  </article>  
  <% } %>

<%- include('includes/footer.ejs') %>