<%- include('includes/header.ejs') %>

  <form method="get" class="horizontal">
    <input name="search" value="<%= req.query.search %>"> 
    <input type="submit" value="Найти">
  </form>

  <h1 class="heading">Курсы основных валют</h1>
  <% for (let t of valute) { %>
  <article class="card">
    <header>  
      <h2><i><a href=<%= t.numCode %>> <%= t.name %> (<%= t.charCode %>)</i></h2>
    </header>
    <footer>
      <p>Цена за 1: <%= t.vunitRate %></p>
      <div class="horizontal">
        <% if(!t.done) { %>
          <form action="/<%= t.numCode %>?_method=PUT" method="post">
            <input type="submit" class="success" value="В избранное">
          </form> 
        <% } else { %>
          <form action="/<%= t.numCode %>?_method=PUT" method="post">
            <input type="submit" class="warning" value="Из избранного">
          </form> 
        <% } %>
      </div>
    </footer>
  </article>  
  <% } %>

<%- include('includes/footer.ejs') %>